$brandColor: #3c64ff;

$color-gray-100: #fbfbfd;
$color-gray-200: #eceef8;
$color-gray-300: darken(#eceef8, 10);
$color-gray-400: #9f9f9f;
$color-gray-500: #7b808c;
$color-gray-600: #61656f;
$color-gray-700: #2e2c3a;
$color-gray-800: #282828;
$color-gray-900: #222;

$color-green: #35d87a;
$color-red: #ff3b56;
$color-blue: $brandColor;
