$brandColor: #3c64ff;
// $brandColor: #4550E5;
$activeColor: darken($brandColor, 5%);

/**
 * External dependencies
 */
// Bootstrap
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/media';

// Choices
$choices-button-icon-path: "~choices.js/assets/icons";
$choices-bg-color: #fff;
$choices-border-radius: 3px;
$choices-highlight-color: $brandColor;
$choices-keyline-color: #eee;
@import '~choices.js/assets/styles/scss/choices';

/**
 * Internal dependencies
 */

// Local helpers
@import 'helpers/animation-spin';
@import 'mixins/button';

// HTML Elements
@import 'elements/html';
@import 'elements/body';
@import 'elements/a';
@import 'elements/img';
@import 'elements/label';

// Repeatable Patterns
@import 'modules/button';
@import 'modules/section-title';
@import 'modules/list';
@import 'modules/icon';

// Card
@import 'modules/card';
@import 'modules/card-label';

// Block
@import 'modules/block';
@import 'modules/block-cta';
@import 'modules/block-header';
@import 'modules/block-title';
@import 'modules/block-subtitle';

// Header
@import 'modules/masthead';
@import 'modules/account-bar';
@import 'modules/brand-bar';
@import 'modules/branding';
@import 'modules/site-title';

// Footer
@import 'modules/mastfoot';
@import 'modules/colophon';

// Nav
@import 'modules/access';
@import 'modules/access-item';

// Call to Action
@import 'modules/cta';
@import 'modules/hero-cta';

// Features
@import 'modules/features';
@import 'modules/feature-list';
@import 'modules/feature-item';

@import 'modules/feature-callout';
@import 'modules/theme-features';

// How it Works
@import 'modules/how-it-works';
@import 'modules/how-it-works-block-header';
@import 'modules/how-it-works-quote';

// FAQs
@import 'modules/faqs';
@import 'modules/faq';

// Alerts
@import 'modules/notices';
@import 'modules/notice';

// Forms
@import 'modules/form-row';
@import 'modules/form-row-group';
@import 'modules/form-label';
@import 'modules/form-input';
@import 'modules/auth-form';
@import 'modules/choices';

// Pricing
@import 'modules/price-table';
@import 'modules/price-option';
@import 'modules/price-features';
@import 'modules/price-feature';

// Blog
@import 'modules/blog-card';

// Checkout
@import 'modules/order-summary';
