a {
	color: $color-gray-800;
	border-bottom: 2px solid transparent;
	text-decoration: none;

	&:hover {
		color: $brandColor;
		border-bottom-color: $brandColor;
		text-decoration: none;

		svg {
			fill: $brandColor;
		}
	}
}
