.alignfull,
.alignwide {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
}

@include media-breakpoint-up(lg) {
  .alignwide {
    margin-left: -10%;
    margin-right: -10%;
    max-width: 120%;
  }
}
