.notice {
	color: #fff;
	margin-bottom: 1em;
	padding: 1em;
	background: #ddd;

	&:last-child {
		margin-bottom: 1em;
	}
}

.notice--alert {
	background: #b55050;
}

.notice--success {
	background: #508fb5;
}
