.account-bar {
  padding: 10px 0;
  background: #23282d;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .access-item {
    margin: 0 10px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      border-bottom-width: 1px;
    }
  }
}
