.block {
  margin: 5rem 0;
}

.block--alt {
  background: #f9f9f9;
  overflow: hidden;
}

.block--highlight {
  color: #fff;
  margin: 0;
  padding: 3rem 0;
  position: relative;
  overflow: visible;
  background: $activeColor;

  a {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .media {
    position: relative;
    z-index: 2;
  }
}

.block--highlight-alt {
  background: $brandColor;
}
