.brand-bar {
  background: $brandColor;
  position: relative;
  z-index: 2;

  @include media-breakpoint-up(md) {
    background: none;
    margin-bottom: -72px;
  }
}

.brand-bar--static {
  margin-bottom: 0;
  background: $brandColor;
}
