.button {
	@include button;
}

.button__pill {
  color: #555;
  font-size: 14px;
  margin: 0 0 0 8px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  align-items: baseline;

  sub {
    font-size: 11px;
    opacity: 0.60;
  }
}

.button--primary {
	@include button--primary;
}

.button--danger {
	@include button--danger;
}
