// Overrides.
.#{$choices-selector}:last-of-type {
  margin-bottom: 0;
}

.#{$choices-selector},
.#{$choices-selector}__inner {
  color: #555;
  font: 400 18px/1 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.#{$choices-selector}__inner {
  padding: 0;
  border-width: 2px;

  .is-focused &,
  .is-open & { 
    border-color: rgba($brandColor, 0.50);
  }
}

.#{$choices-selector}__list--single {
  padding: 16px;
  min-height: 45px;
}

.#{$choices-selector}__list--dropdown {
  border: 2px solid $brandColor;
  border-top: 0;
  z-index: 5;

  .is-open & {
    border-color: rgba($brandColor, 0.50);
  }

  .is-flipped & {
    border-top: 2px solid rgba($brandColor, 0.50);
    border-bottom: 0;
  }
}

.#{$choices-selector}__item {
  color: #555;
  font-size: 16px;
}

.#{$choices-selector}[data-type*="select-one"] {
  .#{$choices-selector}__inner {
    padding: 0;
  }

  &:after {
    right: 15px;
  }
}

// Extras.
.form-row-group > .choices {
  width: 48%;
  margin-bottom: 0;
}
