.cta-get-started {
	text-align: center;
	padding: 3em;

	p:first-of-type {
		margin: 0 0 2em;
	}
}

.cta-get-started__title {
	font-family: 'Arbutus Slab',serif;
    font-weight: 400;
	font-size: 30px;
    margin: 0;
}
