.faq {
	cursor: pointer;
	margin-bottom: 1em;
	border: 1px solid rgba(0, 0, 0, 0.08);
	transition: all 0.15s ease-in;

	* {
		transition: all 0.15s ease-in;
	}

	svg {
		transform: rotate(90deg);
	}
}

.faq--active,
.faq:hover {
	background: #fff;
	
	span {
		color: $brandColor;
	}

  svg {
    transform: rotate(180deg);
    fill: $brandColor;
  }
}

.faq__title,
.faq__answer {
	padding: 20px;
}

.faq__title {
	border-bottom: 1px solid transparent;
	display: block;
}

.faq__answer {
	display: none;

	p:last-child {
		margin-bottom: 0;
	}

	p:only-child {
		margin: 0;
	}
}

.faq--active {
	.faq__title {
		border-bottom-color: rgba(0, 0, 0, 0.05);
	}

	.faq__answer {
		display: block;
	}
}
