.faq {
	cursor: pointer;
	margin-bottom: 1em;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;

	* {
		transition: all 0.15s ease-in;
	}

	svg {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
			transform: rotate(90deg);
		}
	}
}

.faq__title,
.faq__answer {
	padding: 20px;
}

.faq__title {
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	border: 0;
	background: none;

	svg {
		width: 18px;
		height: 18px;
	}

	span {

		@include media-breakpoint-up(md) {
			margin-left: 8px;
		}
	}
}

.faq--active,
.faq__title:hover {
	background: #fff;
	box-shadow: none;

	span {
		color: $brandColor;
	}

	svg {
		fill: $brandColor;
	}
}

.faq__answer {
	height: 0;
	visibility: hidden;
	opacity: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;

	a {

		@include link-focus;
	}
}

.faq--active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);

	.faq__title {

		&:focus {
			outline: 0;
		}

		svg {
			transform: rotate(45deg);
		}
	}

	.faq__answer {
		visibility: visible;
		height: auto;
		opacity: 1;
		padding-bottom: 20px;
	}
}
