.feature-callout {
  padding: 3rem 0;

  .media {
    align-items: center;
  }

  .block-title,
  p {
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: none;
  }

  p {
    color: $color-gray-500;
  }

  a:not(.button) {
    color: $brandColor;
    border-bottom: 2px solid $brandColor;
  }

  + .feature-callout {
    margin: 0;
  }
}

.feature-callout__media {
  margin: 0 3rem;
  max-width: 400px;
  
  .icon {
    width: 400px;
    height: 400px;
  }
}

.feature-callout__title {
  margin-bottom: 1rem;
}
