.feature-callout {
  margin: 0;
  padding: 3rem 0;

  .media {
    align-items: center;
  }

  .block-title,
  .block-subtitle {
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: none;
  }

  .block-title {
    margin-bottom: 1rem;
  }

  a:not(.button) {
    color: $brandColor;
    border-bottom: 2px solid $brandColor;
  }
}

.feature-callout__media {
  margin: 0 3rem;
  max-width: 400px;
  
  .icon {
    width: 400px;
    height: 400px;
  }
}
