.form-label {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 8px;
  display: block;
}

.form-label--checkbox {
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 0;

  span {
    margin-left: 5px;
  }
}
