.form-input {
  @include form-input;
}

textarea,
[type="email"],
[type="search"],
[type="tel"],
[type="password"],
[type="text"] {
  width: 100%;
  display: block;
}

button {
  @include button;
}

[type="submit"] {
  @include button--primary;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}

[type="checkbox"] {
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: $color-gray-300;
}

::-moz-placeholder {
  color: $color-gray-300;
}

:-ms-input-placeholder {
  color: $color-gray-300;
}

:-moz-placeholder {
  color: $color-gray-300;
}
