.gform_wrapper {
  .validation_error {
    @extend .notice;
    @extend .notice--alert;
    margin: 0 0 2em;
  }
}

.gform_confirmation_message {
  @extend .notice;
  @extend .notice--success;
  margin: 0 0 2em;
}

.gform_fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gfield {
  @include form-row;

  label {
    @include form-label;
  }
}

.ginput_container_email,
.ginput_container_textarea,
.ginput_container_text {
  textarea,
  input {
    @include form-input;
  }
}

.gfield_error {
  textarea,
  input {
    border-color: $color-red;
  }

  .validation_message {
    color: $color-red;
  }
}

.gform_footer {
  margin-top: 2rem;
}

.validation_message {
  font-size: 15px;
  opacity: 0.60;
  padding: 10px 0 0;
}
