.gform_wrapper {

	.validation_error {

		@extend .notice;
		@extend .notice--alert;
		margin: 0 0 2em;
	}
}

.ginput_container {
	position: relative;
}

.ginput_counter {
	color: $color-gray-300;
	position: absolute;
	top: -23px;
	right: 0;
	font-size: 13px;

	&.warningTextareaInfo {
		color: $color-red;
	}
}

.gform_confirmation_message {

	@extend .notice;
	@extend .notice--success;
	margin: 0 0 2em;
}

.gform_fields {
	margin: 0;
	padding: 0;
	list-style: none;
}

.gfield {

	@include form-row;

	label {

		@include form-label;
	}
}

.ginput_container_website,
.ginput_container_password,
.ginput_container_email,
.ginput_container_textarea,
.ginput_container_text {

	textarea,
	input {

		@include form-input;
	}
}

.gfield_checkbox {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 0.5rem;
		display: flex;
		align-items: center;
	}

	label {
		font-weight: 400;
		font-size: 16px;
		display: inline-block;
		margin: 0 0 0 0.5rem;
	}
}

.gfield_label + .gfield_description {
	margin: -0.5rem 0 1rem;
}

.gfield_error {

	textarea,
	input {
		border-color: $color-red;
	}

	.validation_message {
		color: $color-red;
	}
}

.gform_footer {
	margin-top: 2rem;

	.button {

		@include button--primary;
		@include button--size-block;
	}
}

.gfield_description,
.validation_message {
	font-size: 15px;
	opacity: 0.6;
	padding: 5px 0 0;
}

.gfield_description p:first-child {
	margin-top: 0;
}

.gfield_description,
.gfield_html {

	a {

		@include link-focus;
	}
}

.gform_drop_area {
	font-size: 16px;
	color: $color-gray-500;
	text-align: center;
	padding: 1.5rem;
	background: $color-gray-100;
	border: 2px dashed $color-gray-300;
	border-radius: 3px;

	.button {

		@include button--secondary;
		@include button--size-sm;
	}
}

.gform_drop_instructions {
	display: block;
	margin-bottom: 0.5rem;
}

.gfield_visibility_hidden {
	display: none;
}
