.how-it-works {
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 0;
	position: relative;
	z-index: 2;
}

.how-it-works__detail,
.how-it-works__pull {
	@include make-col-ready;
	@include make-col(6);

	// @hack
	padding: 0 !important;
}

.how-it-works__pull {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
