.how-it-works-quote {
  color: #888;
  margin: 2em 0;
  position: relative;

  &:before {
    content: "\"";
    position: absolute;
    left: -13px;
  }

  cite {
    display: block;
    margin-top: 1em;
  }
}

.how-it-works-quote__ation {
  font: normal 56px/40px 'Lora', serif;
  background: rgba(0, 0, 0, 0.06);
  padding: 50px 20px 0;
  position: absolute;
  top: 0;
  left: 90px;
}
