.notice {
	color: #fff;
	margin-bottom: 1rem;
	padding: 1rem;
	background: #ddd;
	border-radius: 3px;

	&:last-child {
		margin-bottom: 1rem;
	}
}

.notice--alert {
	background: $color-red;
}

.notice--success {
	background: $color-blue;
}
