.order-summary-wrap {

	@extend .payment-method;
	border-bottom: 1px solid $color-gray-200;
	border-top: 1px solid $color-gray-200;
	margin-top: 3rem;
	padding-bottom: 2rem;
}

.order-summary__row {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&:after {
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed #ddd;
		content: " ";
		position: absolute;
		bottom: 6px;
		left: 0;
		right: 0;
	}
}

.order-summary__label,
.order-summary__value {
	background: #fff;
	display: block;
	position: relative;
	z-index: 2;
}

.order-summary__label {
	padding-right: 5px;
}

.order-summary__value {
	padding-left: 5px;
}

.order-summary__label--highlight,
.order-summary__value--highlight {
	color: $color-green;
}

.order-summary__value--publish,
.order-summary__value--active,
.order-summary__value--completed {
	color: $color-green;
}

.order-summary__value--cancelled {
	color: $color-red;
}

.order-summary__subscription-details {
	margin-bottom: 0;

	.button {
		margin-right: 10px;
	}
}

#edd_mailchimp {
	margin: 2rem 0 0;
	padding: 0;
	border: 0;

	p {
		font-size: 15px;
		margin: 0;
		display: flex;
		align-items: center;
	}

	label {
		line-height: 1;
		margin-left: 10px;
	}
}
