.price-option__inner {
	text-align: center;
	padding: 40px;
}

.price-option__price,
.price-option__term {
	display: inline-block;
	vertical-align: bottom;
}

.price-option__price {
	font: 700 42px $heading-family;
	margin: 0;
	display: flex;
	align-items: baseline;
	justify-content: center;

	sub {
		opacity: 0.5;
		font-size: 14px;
	}

	&--old {
		font-size: 20px;
		opacity: 0.50;
		color: $color-red;
	}
}

.price-option__term {
	color: $color-gray-400;
	font-size: 14px;
}

.price-option__note {
	color: $color-gray-500;
	font-size: 15px;
	margin-bottom: 0;
}
