.sale-bar {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $color-blue;
	height: 60px;
	z-index: 100;
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;
	}

	.admin-bar & {
		top: 32px;
	}

	p {
		color: #fff;
		font-size: 15px;
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	a {
		color: #fff;
		border: 0;
		margin-left: 15px;
		padding: 5px 15px;
		border-radius: 3px;
		background: darken($color-green, 10%);
	}
}

.has-sale-bar {
	@include media-breakpoint-up(lg) {
		padding-top: 60px;
	}
}
