.site-title {
	font-size: 24px;
	font-weight: 400;
	margin: 0;

	a {
		color: #fff;
		display: flex;
		align-items: center;
		border: 0;
	}

	.icon {
		margin: -2px 5px 0 0;
		width: 34px;
		height: 34px;
	}
}
