.theme-features {
  margin: 6rem 0;

  .feature-callout:first-child {
    margin-bottom: 0;
  }
}

.theme-features {
  .block:nth-child(odd) {
    @extend .block--alt;
  }

  .block:nth-child(even) {
    .feature-callout__media {
      order: 2;
    }
  }
}
